.input,
.latex {
    color: var(--color-primary);
    background: var(--color-bg);
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    place-items: center;
}

.input:focus {
    outline: 1px solid var(--color-secondary);
    background: var(--color-bg-variant);
}

.input::placeholder {
    color: var(--color-secondary);
    opacity: 50%;
}

.tr {
    border: 1px solid var(--color-primary);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.td {
    /* height: 4rem; */
    border: 1px solid var(--color-primary);
    max-width: 100%;
    overflow: scroll;
}

.formatButtons {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 50%;
    transform: translatex(-50%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 2rem;
    background-color: var(--color-bg-complementary-dark);
    gap: 1rem;
}

.formatButtons button {
    font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
    .formatButtons {
        display: none;
    }
    .tr {
        grid-template-columns: 1fr;
    }
}
