.card {
    display: inline-block;
    width: 100%;
    background: var(--color-bg-monochrome-low);
    transition: var(--transition);
    border-radius: 2rem;
}

.card:hover {
    background: var(--color-bg-monochrome-dark);
    cursor: pointer;
}

.card__description {
    color: var(--color-primary);
}

.card__description_p {
    color: var(--color-light);
}
